#id_form_edit > div {
  float: left;
  margin: 40px 10px 20px 10px;
}


#id_form_play > div {
  float: left;
  margin: 40px 10px 20px 10px;
}

.col-chess {
  width: 16%;
  float: left;
  margin: 20px;
}
