<%inherit file="layout.html" />

<%def name="header_title()">
${title}
</%def>

<%def name="body_content_before_board()">
<div id='flash-msg'>
  % for fmsg in request.session.pop_flash():
  <p>${fmsg}</p>
  % endfor
</div>
</%def>

<%def name="body_content_after_board()">
  %for position in positions:
  <div class="col-sm-2">
    <div class="card">
        <div class="card-header card-heading">
          <input class='del-checkbox' type="checkbox" name="${position.id}" value="${position.id}">
          <span class='board-id'>${position.id}</span>
        </div>
        <div class="card-body chess-board" id="${position.id}"></div>
    </div>
  </div>
  %endfor
  <div style="clear:both"></div>
</%def>

<%def name="javascript()">
%for position in positions:
var board${position.id} = new ChessBoard("${position.id}", {
  position: "${position.fen}",
  showNotation: false
  })
%endfor

var init = function() {

$('#id_form_list').submit(function(e){
  e.preventDefault();
  });

$('.chess-board').dblclick(function() {
    var status = $(this).attr('id');
    console.log(status);
    window.location.href = "/play?id=" + status;
  });

$('#tab-delete').click(function(){
    var deferreds = [];
    $('#id_cb_div :checked').each(function() {
      var v = $(this).val();
      deferreds.push($.ajax({
          async: true,
          url: '/list?position.delete&id=' + v,
          type: 'delete',
        }));

      });

      $.when.apply($, deferreds).done(function() {
        window.location.href = "/";
      });
    });

  } // end of init
$(document).ready(init);
</%def>
