<%inherit file="layout.html" />

<%def name="header_title()">
Euwe, Chess tactics engine for absolute beginners
</%def>

<%def name="body_content_before_board()">
<h1>Welcome to ${project}, ${userid}</h1>
</%def>

<%def name="body_content_after_board()">
</%def>

<%def name="javascript()">
var init = function() {


  var playFunction = function(source, target, piece, newPos, oldPos, orientation) {
    $.ajax({
      type: "GET",
      url: '/answer',
      data: 'id=${id}&solution='+ChessBoard.objToFen(newPos),
      dataType: 'json',
      success: function(data) {
        if (data['result'] == 'success') {
          alert('Success');
        } else {
          window.location.href = '/play?id=${id}';
        }
      }
      });
  };

//--- start example JS ---
var cfg = {
  draggable: true,
  dropOffBoard: 'snapback', // this is the default
  position: 'start',
  onDrop: playFunction
};

%if position is not UNDEFINED:
  %if position:
  cfg["position"] = "${position.fen}"
  %endif
%endif
var board = new ChessBoard('board', cfg);

$('#id_btn_play').click(function(){
  $.ajax({
    type: "GET",
    url: '/answer',
    data: 'id=${id}&solution='+board.fen(),
    dataType: 'json',
    success: function(data) {
      if (data['result'] == 'success') {
        alert('Success');
      } else {
        window.location.href = '/play?id=${id}';
      }
    }
    });
  });

  $('#id_form_play').submit(function(e){
    e.preventDefault();
  });
}; // end init()
$(document).ready(init);
 </%def>
